{% extends 'users/index.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="shadow bg-white rounded p-5 m-auto w-50">
  <h2 class="text-center font-weight-light mb-4">Login</h2>
  <form method="post">
    {% csrf_token %}
    {% crispy form %}
  </form>
  <p class="mt-3 text-center w-100"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
  <p class="text-center font-weight-light pt-4 h5">Are you new here? Create an <a href="{% url 'register' %}">account</a>!</p>
  <p class="h5 text-center btn btn-primary w-100">
    <a href="{% provider_login_url 'google' %}" class="text-white text-decoration-none">
      Login with <i class="fab fa-google"></i>
    </a>
  </p>
</div>


{% endblock %}
