<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light m-auto">
    <header class="p-4 bg-info m-auto text-white">
            <h5 class="font-weight-light ">Bookcase panel</h5>
            <p>
                <a href="{% url 'bookslist' %}" class=" text-white">Bookslist</a>
                <a href="{% url 'logout' %}" class="text-white">Logout</a>
            </p>
            <p>
                <form action="{% url 'searchbook' %}" method="get">
                    <input name="q" type="text" placeholder="Search book...">
                    <button type="submit">Search</button>
                </form>
            </p>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>