<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/books.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light m-auto">
<header class="shadow bg-dark text-white row mb-5">
    <h3 class="font-weight-light text-center col-1 m-auto">Bookcase</h3>
    <form action="{% url 'bookslist' %}" method="get" class="col-3 m-auto">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="Search book by author, title, publisher, tag..."/>
            <div class="input-group-append">
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        </div>
    </form>
    <nav class="navbar navbar-expand-lg navbar-light col-3">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav bg-info rounded">
                {% if user.is_superuser == True %}
                    <li class="nav-item"><a href="{% url 'addbook' %}" class="nav-link text-white">ADD BOOK</a></li>
                 {% endif %}
                    <li class="nav-item"><a href="{% url 'bookslist' %}" class="nav-link text-white">Bookslist</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-white">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="dropdown h5 font-weight-light text-muted col-2 m-auto ">Hello, {{user.username}}!</div>
    <a class="text-decoration-none col-1 m-auto" href="{% url 'userbooks' %}">Your books</a>
    <a class="h4 col-1 m-auto" href="{% url 'basketlist' user.id %}"><i class="fa fa-shopping-basket btn disabled"  id="userbasket" ></i></a>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
{% block javascript %}

{% endblock %}
</body>
</html>