<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light m-auto">
    <header class="p-4 bg-info m-auto">
            <h5 class="font-weight-light text-white float-left">Bookcase panel</h5>
            <a href="{% url 'logout' %}" class="badge badge-info float-right display-4">Logout</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>