{% extends 'books/base.html' %}

{% block title %}Books list{% endblock %}
{% block content %}
<a href="{% url 'addbook' %}">ADD BOOK</a>
<hr/>
Author | Title | Publisher | Tags
<hr />
<div>
    {% for object in object_list %}
    <p>{{ object.author }} | {{ object.title }} | {{ object.publisher }} |  {% for tag in object.tags.all %} {{tag}}, {% endfor %}</p>
    <p><a href="{% url 'deletebook' object.id %}">Delete</a> | <a href="{% url 'updatebook' object.id %}">Edit</a></p>
    <hr/>
    {% empty %}
    <p>No objects yet.</p>
    {% endfor %}
</div>
{% endblock %}