{% extends 'books/base.html' %}
{% block title %}Books list{% endblock %}
{% block javascript %}
<script>
$('.basket').click(function(){
    var bookid = $(this).attr("data-catid");
    const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $.ajax({
      type:"POST",
      url: "{% url 'addtobasket'%}",
      data:{
      'csrfmiddlewaretoken': csrftoken,
      'book_id': bookid,
      },
      dataType: 'json',
      success: function(data){
        if (data.success){
            $('#status'+bookid).text("In basket");
            $('#status'+bookid).removeClass('text-success');
            $('#status'+bookid).addClass('text-warning');
            $('#basket'+bookid).removeClass('btn btn-success');
            $('#basket'+bookid).addClass('btn btn-success disabled');
            $('#userbasket').removeClass('btn disabled');
            $('#userbasket').addClass('btn active text-white');
        }
        else{
            alert("There is an error occurred");
        }
      }
    });
});
</script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="p-4 m-auto h5 font-weight-light">
    <div class="shadow bg-white rounded">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                {% if perms.books.delete_book %}
                <th scope="col"></th>
                {% endif %}
                {% if perms.books.change_book %}
                <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for object in page_obj %}
            <tr>
                <th>{{ object.author }}</th>
                <th><a href="{% url 'detailbook' object.id %}" class="text-decoration-none text-dark">{{ object.title }}</a></th>
                <th>{{ object.publisher }}</th>
                {% if object.is_loaned == False %}
                <th>
                    <span class="text-success font-weight-normal" id="status{{ object.id }}">Ready to loan</span>
                </th>
                <th>
                    <span class="basket btn btn-success" data-catid="{{ object.id }}" id="basket{{ object.id }}"><i class="fa fa-shopping-basket"></i></span>
                </th>
                {% else %}
                <th>
                    <span class="status text-danger font-weight-normal">Loaned</span>
                </th>
                <th>
                    <span class="basket btn btn-success disabled"><i class="fa fa-shopping-basket"></i></span>
                </th>
                {% endif %}
                {% if perms.books.delete_book %}
                <th>
                    <a href="{% url 'deletebook' object.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </th>
                {% endif %}
                {% if perms.books.change_book %}
                <th>
                    <a href="{% url 'updatebook' object.id %}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                </th>
                {% endif %}
            </tr>
            </tbody>
            {% empty %}
            <tr>
                <th></th>
                <th></th>
                <th>Empty</th>
                <th></th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-info">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-info">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-info">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-info">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}