{% extends 'books/base.html' %}

{% block title %}Serach book result{% endblock %}
{% block content %}
<h3>Search result</h3>
Author | Title | Publisher | Tags
<hr />
<div>
    {% for object in page_obj %}
    <p><a href="{% url 'detailbook' object.id %}">{{ object.author }} | {{ object.title }} | {{ object.publisher }} | {% for tag in object.tags.all %} {{tag}}, {% endfor %}</a></p>
    <p>{% if perms.books.can_delete_book %}<a href="{% url 'deletebook' object.id %}">Delete</a>{% endif %}| {% if perms.books.can_change_book %}<a href="{% url 'updatebook' object.id %}">Edit</a>{% endif %}</p>
    <hr/>
    {% empty %}
    <p>No objects yet.</p>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}