{% extends 'books/base.html' %}
{% block title %}Your books{% endblock %}
{% block javascript %}
<script>
$('.deletefrombasket').click(function(){
    var bookid = $(this).attr('data-catid');
    const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $.ajax({
      type:"POST",
      url: "{% url 'usergivebackbook'%}",
      data:{
      'csrfmiddlewaretoken': csrftoken,
      'book_id': bookid,
      },
      dataType: 'json',
      success: function(data){
        if (data.success){
            setTimeout(function(){
                location.reload();
            }, 100);
        }
        else{
            alert("There is an error occurred");
        }
      }
    });
});
</script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="p-4 m-auto h5 font-weight-light">
    <p class="text-center">Your books</p>
    <table class="table shadow bg-white rounded">

        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="col">{{object.title}}</th>
            <th scope="col">{{object.author}}</th>
            <th scope="col">{{object.publisher}}</th>
            <th scope="col"><span class="btn btn-danger deletefrombasket" data-catid="{{object.id}}"><i
                    class="fa fa-minus-circle"></i></span></th>
        </tr>
                {% empty %}
                <tr>
                    <th scope="col">Empty</th>
                </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}