{% extends 'users/index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid text-center h2 p-5 font-weight-light">
  <p class="text-success">Hi {{ user.username }}!</p>
  <p><a href="{% url 'logout' %}" class="badge badge-info">logout</a></p>
  <p><a href="{% url 'password_reset' %}" class="badge badge-info">reset password</a></p>
</div>

{% else %}
<div class="container-fluid text-center h2 p-5 font-weight-light">
  <p class="text-info">You are not logged in</p>
    <a href="{% url 'login' %}" class="badge badge-info">login</a>
    <a href="{% url 'register' %}" class="badge badge-info">signup</a>
</div>

{% endif %}
{% endblock %}